<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518177676740-occ0ukc9au1rgc3omm0o3isbb0r6v7bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518177676740-occ0ukc9au1rgc3omm0o3isbb0r6v7bi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>518177676740-hbb61e0jjtghs365lqjej5pbsiqr92ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-00qOTGktc8abCWorK6zH29QkDt_JR1c</string>
	<key>GCM_SENDER_ID</key>
	<string>518177676740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatConnectApp</string>
	<key>PROJECT_ID</key>
	<string>chatconnect-b2b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatconnect-b2b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518177676740:ios:5e7bae7f38fbeab3be9891</string>
</dict>
</plist>